@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-blue: #3b82f6;
  --color-brand-success: #22c55e;
  --color-brand-white: #ffffff;
  --color-gold: #fbbf24;
  --color-gold-700: #b45309;
  
  /* Text Colors */
  --color-text-main: #0f172a;
  --color-text-sub: #64748b;

  /* Typography */
  --font-header: "Inter", system-ui, sans-serif;
  --font-body: "Inter", system-ui, sans-serif;
}

:root {
  background-color: #f8fafc;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
}